.cart-container{
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;

}
.cart-heading{
    text-align: center;
}
.close-container{
    float: right;
}
.close-button{
    background-color: #06649f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.cartItem-container{
    position: relative;
    width: 100%;
    border: 1px solid #5a5b70;
}
.cart-items{

}
.item-container{
    padding: 0px;
    height: 20%;
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border: 2px solid #83869b;
}
.item-details{
    display: flex;
    flex-direction: row;
}
.item-title{
    font-size: small;
    font-weight: 200;
    margin-left: 20%;
}
.item-price{
    font-size: small;
    font-weight: 200;
    margin-left: 30%;
}
.quantity-container{
    display: flex;
    flex-direction: row;
    margin-left : 20%;
}
.increase-quantity-button{

}
.decrease-quantity-button{

}
.total-price-container{

}
.total-price{
}
.clear-cart{

}
.empty-cart{

}